
<div class="content-container">
<div class="jumbotron">
   <h1>
      Keynote Address<br />
        <small>Friday, May 8, 2026 &mdash; 6:00&ndash;8:30 PM</small><br />
        <small>Consulate General of Greece in Boston</small><br>
        <small>86 Beacon Street, Boston, MA</small><br>
   </h1>
</div>

  <h4><a href="#program">Return to Program</a></h4>


<div class="row">
  <div class="col-sm-12">
    <div class="row keynote-profile-row">
      <div class="col-sm-4" style="margin-bottom: 1em;">
        <img src="media/bertsimas.jpeg" alt="Prof. Dimitris Bertsimas" class="img-responsive img-thumbnail" style="width: 100%; max-width: 320px;" />
      </div>
      <div class="col-sm-8">
        <h2>AI and Entrepreneurship</h2>
        <h3 style="margin-top: 0;"><a href="https://dbertsim.mit.edu/">Prof. Dimitris Bertsimas</a></h3>
        
          Dimitris Bertsimas is the current Vice Provost for Open Learning, the 
          Associate Dean of Online Education and Artificial Intelligence, 
          the Boeing Professor of Operations Research, and the faculty director 
          of the Master of Business Analytics program at MIT, 
          where he has been a faculty member since 1988. 
        <br><br>
          Prof. Bertsimas's research focuseses on optimization, machine learning, and applied 
          probability, with applications in healthcare, finance, operations 
          management, and transportation. He has authored over 350 scientific 
          papers and eight graduate-level textbooks. He has supervised 107 completed 
          doctoral theses and is currently advising 18 more. 
        <br><br>
          In addition to his academic work, Prof. Bertsimas is also an 
          entrepreneur. He has co-founded 10 analytics companies, including 
          Dynamic Ideas, LLC, which was sold to American Express in 2002. His 
          ventures span industries such as healthcare, financial services, and 
          consulting, and they apply machine learning and optimization techniques 
          to solve complex real-world problems. He also founded Dynamic Ideas 
          Press, which publishes scientific books.
        
      </div>
    </div>
  </div>


 
</div>
