<div class="content-container">


  <div class="jumbotron">
    <h1> Venue Information<br />
			 <small>Hellenic-American Research Symposium 2025 </small><br />
			 <small>Saturday May 10th, 2025</small><br/>
			 <small>MIT Campus</small>   </h1>
  </div>

  <h2>Campus Map</h2>
  <p>Coming soon!</p>

	<h2>Transportation and Parking</h2>
  <p>Coming soon!</p>

  <h2>WiFi</h2>
  <p> You can connect to the "MIT GUEST" WiFi network. More details are available <a
  href="https://kb.mit.edu/confluence/display/istcontrib/The+MIT+GUEST+Wireless+Network" target="_blank">here</a>.
        
  <h2>Hotels and Restaurants</h2>
  <p>Coming soon!</p>


 </div>


