<div id="program" class="content-container">
  <div class="jumbotron">
    <h1>
      Program<br />
      
      <small>Saturday May 9 2026, 9am - 6pm</small><br />
      <small>Room TBD, MIT Campus</small>
    </h1>
  </div>
  


  <p style="text-align: center;">
    <a href="javascript: toggleVisibility ('showall')">Show</a>/<a 
    href="javascript: toggleVisibility ('hideall')">Hide all abstracts</a>
  </p>


  <table class="table table-bordered table-hover table-condensed programTable">
    <tbody>
      <tr>
        <th width="17%">Time</th>
        <th width="83%">Event</th>
      </tr>
      <tr class="warning">
        <td>9:00 - 9:30</td>
        <td><strong>Registration</strong></td>
      </tr>
      <tr class="warning">
        <td>9:30 - 9:45</td>
        <td><strong>Welcome and Introductory Remarks</strong></td>
      </tr>

      <tr class="success">
        <td colspan="2" align="center"><strong>Session A</strong><br>
        Chairs: </td>
      </tr>

      <tr>
        <td>9:45 - 10:00</td>
        <td><i></i><br>
        <br>
        <a href="javascript: toggleVisibility ('#sessionAtalk1')">Toggle Abstract</a>
        <div id="sessionAtalk1" class="abstract" style="display: none;">
         
        </div>
        </td>
      </tr>

      <tr>
        <td>10:00 - 10:15</td>
        <td><i></i><br>
        <br>
        <a href="javascript: toggleVisibility ('#sessionAtalk2')">Toggle Abstract</a>
        <div id="sessionAtalk2" class="abstract" style="display: none;">
          
        </div>
        </td>
      </tr>

      <tr>
        <td>10:15 - 10:30</td>
        <td><i></i><br>
        <br>
        <a href="javascript: toggleVisibility ('#sessionAtalk3')">Toggle Abstract</a>
        <div id="sessionAtalk3" class="abstract" style="display: none;">
          
        </div>
        </td>
      </tr>

      <tr>
        <td>10:30 - 10:45</td>
        <td><i></i><br>
        <br>
        <a href="javascript: toggleVisibility ('#sessionAtalk4')">Toggle Abstract</a>
        <div id="sessionAtalk4" class="abstract" style="display: none;">
          
        </div>
        </td>
      </tr>

      <tr>
        <td>10:45 - 11:00</td>
        <td><i></i><br>
        <br>
        <a href="javascript: toggleVisibility ('#sessionAtalk5')">Toggle Abstract</a>
        <div id="sessionAtalk5" class="abstract" style="display: none;">
         
        </div>
        </td>
      </tr>

      <tr>
        <td>11:00 - 11:15</td>
        <td><i></i><br>
        <br>
        <a href="javascript: toggleVisibility ('#sessionAtalk6')">Toggle Abstract</a>
        <div id="sessionAtalk6" class="abstract" style="display: none;">
         
        </div>
        </td>
      </tr>

      <tr class="warning">
        <td>11:15 - 11:45</td>
        <td><strong>Coffee Break 1</strong></td>
      </tr>


      <tr class="success">
        <td colspan="2" align="center"><strong>Session B</strong><br>
        Chairs: </td>
      </tr>

      <tr>
        <td>11:45 - 12:00</td>
        <td><i></i><br>
        <br>
        <a href="javascript: toggleVisibility ('#sessionBtalk1')">Toggle Abstract</a>
        <div id="sessionBtalk1" class="abstract" style="display: none;">

</div>
        </td>
      </tr>

      <tr>
        <td>12:00 - 12:15</td>
        <td><i></i><br>
        <br>
        <a href="javascript: toggleVisibility ('#sessionBtalk2')">Toggle Abstract</a>
        <div id="sessionBtalk2" class="abstract" style="display: none;">

		</div>
        </td>
      </tr>

      <tr>
        <td>12:15 - 12:30</td>
        <td><i></i><br>
        <br>
        <a href="javascript: toggleVisibility ('#sessionBtalk3')">Toggle Abstract</a>
        <div id="sessionBtalk3" class="abstract" style="display: none;">

		</div>
        </td>
      </tr>

      <tr>
        <td>12:30 - 12:45</td>
        <td><i></i><br>
        <br>
        <a href="javascript: toggleVisibility ('#sessionBtalk4')">Toggle Abstract</a>
        <div id="sessionBtalk4" class="abstract" style="display: none;">

		</div>
        </td>
      </tr>

      <tr>
        <td>12:45 - 13:00</td>
        <td><i></i><br>
        <br>
        <a href="javascript: toggleVisibility ('#sessionBtalk5')">Toggle Abstract</a>
        <div id="sessionBtalk5" class="abstract" style="display: none;">

		</div>
        </td>
      </tr>

      <tr>
        <td>13:00 - 13:15</td>
        <td><i></i><br>
        <br>
        <a href="javascript: toggleVisibility ('#sessionBtalk6')">Toggle Abstract</a>
        <div id="sessionBtalk6" class="abstract" style="display: none;">

		</div>
        </td>
      </tr>

      <tr class="warning">
        <td>13:15 - 14:15</td>
        <td><strong>Lunch Break</strong></td>
      </tr>



      <tr class="success">
        <td colspan="2" align="center"><strong>Session C</strong><br>
        Chairs: </td>
      </tr>

      <tr>
        <td>14:15 - 14:30</td>
        <td><i></i><br>
        <br>
        <a href="javascript: toggleVisibility ('#sessionCtalk1')">Toggle Abstract</a>
        <div id="sessionCtalk1" class="abstract" style="display: none;">

		</div>
        </td>
      </tr>

      <tr>
        <td>14:30 - 14:45</td>
        <td><i></i><br>
        <br>
        <a href="javascript: toggleVisibility ('#sessionCtalk2')">Toggle Abstract</a>
        <div id="sessionCtalk2" class="abstract" style="display: none;">

		</div>
        </td>
      </tr>

      
      <tr>
        <td>14:45 - 15:00</td>
        <td><i></i><br>
        <br>
        <a href="javascript: toggleVisibility ('#sessionCtalk3')">Toggle Abstract</a>
        <div id="sessionCtalk3" class="abstract" style="display: none;">

		</div>
        </td>
      </tr>

      <tr>
        <td>15:00 - 15:15</td>
        <td><i></i><br>
        <br>
        <a href="javascript: toggleVisibility ('#sessionCtalk4')">Toggle Abstract</a>
        <div id="sessionCtalk4" class="abstract" style="display: none;">

		</div>
        </td>
      </tr>

      <tr class="warning">
        <td>15:15 - 15:45</td>
        <td><strong>Coffee Break 2</strong></td>
      </tr>


      <tr class="success">
        <td colspan="2" align="center"><strong>Session D</strong><br>
        Chairs: </td>
      </tr>

      <tr>
        <td>15:45 - 16:00</td>
        <td><i></i><br>
        <br>
        <a href="javascript: toggleVisibility ('#sessionDtalk0')">Toggle Abstract</a>
        <div id="sessionDtalk0" class="abstract" style="display: none;">

		</div>
        </td>
      </tr>

      <tr>
        <td>16:00 - 16:15</td>
        <td><i></i><br>
        <br>
        <a href="javascript: toggleVisibility ('#sessionDtalk1')">Toggle Abstract</a>
        <div id="sessionDtalk1" class="abstract" style="display: none;">

		</div>
        </td>
      </tr>

      

      <tr>
        <td>16:15 - 16:30</td>
        <td><i></i><br>
        <br>
        <a href="javascript: toggleVisibility ('#sessionDtalk3')">Toggle Abstract</a>
        <div id="sessionDtalk3" class="abstract" style="display: none;">

		</div>
        </td>
      </tr>

      <tr>
        <td>16:30 - 16:45</td>
        <td><i></i><br>
        <br>
        <a href="javascript: toggleVisibility ('#sessionDtalk4')">Toggle Abstract</a>
        <div id="sessionDtalk4" class="abstract" style="display: none;">

		</div>
        </td>
      </tr>

      <tr>
        <td>16:45 - 17:00</td>
        <td><i></i><br>
        <br>
        <a href="javascript: toggleVisibility ('#sessionDtalk5')">Toggle Abstract</a>
        <div id="sessionDtalk5" class="abstract" style="display: none;">

		</div>
        </td>
      </tr>

      <tr>
        <td>17:00 - 17:15</td>
        <td><i></i><br>
        <br>
        <a href="javascript: toggleVisibility ('#sessionDtalk6')">Toggle Abstract</a>
        <div id="sessionDtalk6" class="abstract" style="display: none;">

		</div>
        </td>
      </tr>

      

      <tr class="warning">
        <td>17:15 - 17:45</td>
        <td><strong>Award Committee Deliberation</strong></td>
      </tr>


      <tr class="warning">
        <td>17:45 - 18:00</td>
        <td><strong>Award Presentation and Closing Remarks</strong></td>
      </tr>

      <tr class="success">
        <td colspan="2" align="center"><strong>End Of Official Program</strong></td>
      </tr>


    </tbody>
  </table>

</div>
