<div class="content-container">

  <div class="jumbotron">
    <h1>Registration<br />
      <small>May 8&ndash;9 2026</small><br />
      <small>MIT Room 66-110 / Consulate General of Greece in Boston
</small>
    </h1>
  </div>

  <p>
    Registration closes on <strong>Sunday, May 3, 2026 at 11:59 PM ET</strong>.
  </p>

  <p>
    Registration will cover 2 coffee breaks and lunch. It is <strong>free of charge for Early Career
    Professionals</strong> &mdash; costs will be covered by the organizer, the Circle of Hellenic Academics
    in Boston. The Circle is a non-profit 501(c)(3) organization that relies on membership fees and
    contributions by members and friends to cover the expenses of its activities. We welcome your
    <strong>tax-deductible contribution</strong> to cover the expenses of this and other Circle events.
  </p>

  <p>
    <strong>Travel Awards:</strong> A limited number of travel awards are available to support
    early-career researchers travelling to attend HAMER 2026. Award recipients will be notified
    following abstract review. Please indicate your interest in a travel award during registration.
  </p>

  <p>
    <a href="https://www.eventbrite.com/e/hellenic-american-meeting-of-early-career-researchers-hamer-2026-tickets-1984907871877" id="registerbtn">Register here!</a>
  </p>

</div>
