<div class="content-container">


  <div class="jumbotron">
    <h1> Registration<br />
			 <small>May 8-9 2026</small><br />
         <small>MIT Room 66-110 / Consulate General of Greece in Boston</small>
  </div>


<p>
  Registration closes on <b>Sunday 
  May 3, 2026 at 11:59pm ET</b> and is <strong>free</strong> for everyone! <br><br>
  
  The registration website also allows for contributions towards the 
  Circle of Hellenic Academics in Boston, to aid HAMER and other related
  programs.  <br><br>

  For all 
  registered participants, HAMER will provide two coffee breaks and lunch. 
</p>

<p>

   <a href="https://www.eventbrite.com/e/hellenic-american-meeting-of-early-career-researchers-hamer-2026-tickets-1984907871877" id="registerbtn">Register here!</a>
   <!-- Register here</a> -->

</p>


</div>