<div class="content-container">


  <div class="jumbotron">
    <h1> Abstract Submission Information<br />
			 
			 <small>Saturday May 10 2025, 9am - 6pm</small><br/>
			 <small>Room 66-110, MIT Campus</small>   </h1>
  </div>


  <h2> Abstract Submissions </h2>
      We are inviting abstract submissions for presentations at HAMER 2025. Please prepare an abstract of
      up to 1500 characters describing research you would like to present. 
      This research may have been previously published, but we also welcome presentations
      about ongoing research or industry experience. 
      <br /><br />
      Our intention is to accommodate all reasonable presentations as talks. If the number of 
      abstract submissions exceeds the available slots for oral presentations, we
      will also hold a poster session for all submitted abstracts.
      <br /><br />

      <p>

        <a href="https://docs.google.com/forms/d/e/1FAIpQLScqRFDaNlR9wLrlLtDziJGWbMVZAwo9V-EYHMV4SvcDN8zaXw/viewform" id="registerbtn">Submit your abstract here!</a>
        <!-- Register here</a> -->

        </p>


      <h2>Important Dates</h2>
      <ul id="dates" class="items">
         <li><b>Abstract submission deadline:</b> Thursday April 10, 2025, 11:59pm ET</li>
         <li><b>Author notification:</b> Thursday April 24, 2025</li>
         <li><b>Last day of registration:</b> Sunday May 4, 2025          </li>
         <li><b>HAMER:</b> Saturday May 10, 2025 </li>
      </ul>

 





</div>
