<div class="content-container">
   <div class="jumbotron">
      <h1>
         HAMER 2025 <br />
         <small>Saturday May 10 2025, 9am - 6pm</small><br />
         <small>Room 66-110, MIT Campus</small>
      </h1>
      <p>Welcome to the homepage for the inaugural Hellenic-American Meeting of Early-Career Researchers (HAMER), to be held on May 10,
         2025, on the MIT Campus!<br /><br />
         
         Co-organized by a committee of students from Boston-area academic institutions, HAMER
         was conceived and organized by the <a href="https://www.hellenic-academics.org/">Circle of 
         Hellenic Academics in Boston</a>, a non-profit aiming to connect academics of Hellenic descent.
         It is also supported by the <a href="https://hellenic-ias.org/">Hellenic Institute of Advanced Studies</a>.<br /><br />

         The event will feature research presentations by students and early career researchers, loosely defined as within 
         5 years from the completion of their PhD degree. Participation from the broader academic/research community, 
         independently of their career stage, is expected. This will be an opportunity to connect and to foster collaborative 
         research within the broader Hellenic-American academic community in New England. Research presentations in any area of 
         science, engineering and the humanities are welcome! <br /><br />
         
         The organizing committee will also award two prizes for the two best research presentations at 
         the event. Each prize will cover round-trip airfare for the award recipient to visit an academic or 
         research institution in Greece! These awards are sponsored by Leta Serafim in honor of the 
         memory of her husband Philip Serafim, professor at Northeastern University and National Technical University of Athens.
      </p>
   </div>
   <div class="page-content">

      <h2>Organizing Committee</h2>
      <ul id="committee" class="items">
         <li><a href="https://www.neco.edu/academics/faculty/george-asimellis/" target="_blank">George Asimellis</a> (NECO)</li>
         <li><a href="https://chemical-biomolecular.engr.uconn.edu/people/faculty/bollas-george/" target="_blank">George Bollas</a> (UConn)</li>
         <li><a href="https://www.linkedin.com/in/litsa-kapsalis-1a3b811a5/" target="_blank">Litsa Kapsalis</a> (MIT)</li>
         <li><a href="https://www.mit.edu/~kats/" target="_blank">Erotokritos Katsavounidis</a> (MIT)</li>
         <li><a href="https://www.physics.harvard.edu/people/facpages/kaxiras" target="_blank">Efthimios Kaxiras</a> (Harvard)</li>
         <li><a href="https://www.cs.bu.edu/~gkollios/" target="_blank">George Kollios</a> (BU)</li>
         <li><a href="https://seas.harvard.edu/person/petros-koumoutsakos" target="_blank">Petros Koumoutsakos</a> (Harvard)</li>
         <li><a href="https://sleep.hms.harvard.edu/faculty-staff/ioannis-lempesis" target="_blank">Ioannis Lempesis</a> (Harvard)</li>
         <li><a href="https://www.linkedin.com/in/maliaris/" target="_blank">Konstantinos Maliaris</a> (Harvard)</li>
         <li><a href="https://george-margaritis.com/" target="_blank">George Margaritis</a> (MIT)</li>
         <li><a href="https://mmarkakis.github.io/" target="_blank">Markos Markakis</a> (MIT)</li>
         <li><a href="https://orc.mit.edu/students/alkiviadis-mertzios/" target="_blank">Alkiviadis Mertzios</a> (MIT)</li>
         <li><a href="https://www.wellesley.edu/people/panagiotis-metaxas" target="_blank">Panagiotis Metaxas</a> (Wellesley)</li>
         <li><a href="https://cheme.mit.edu/profile/gregory-stephanopoulos/" target="_blank">Gregory Stephanopoulos</a> (MIT)</li>
         <li><a href="https://meche.mit.edu/people/faculty/MISTETRI@MIT.EDU" target="_blank">Michael Triantafyllou</a> (MIT)</li>
         <li><a href="https://www.mit.edu/~jnt/home.html" target="_blank">John Tsitsiklis</a> (MIT)</li>
         <li><a href="https://idss.mit.edu/staff/marilena-velonia-bellonia/" target="_blank">Marilena Velonia Bellonia</a> (MIT)</li>
         <li><a href="https://www.bu.edu/sargent/profile/vasileios-zikopoulos-ph-d/" target="_blank"> Vasileios Zikopoulos</a> (BU) </li>

      </ul>

   <h2>Acknowledgement</h2>
      <p> The template for this website was borrowed from that for the <a href="https://nedbday.github.io/2025/"> North East Database Day 2025</a>.
         <br>
         <br>
         <br>


     
   </div>
</div>