<div class="content-container">
  <div class="jumbotron">
    <h1>
      Poster Session<br />
      <small>Saturday, May 9, 2026 &mdash; 11:45 AM&ndash;1:30 PM</small><br />
      <small>MIT Room 66-110</small><br>
      <small>25 Ames St, Cambridge, MA</small><br>
    </h1>
  </div>
  <p>

   <h3>Information for Poster Presenters</h3>
   <p> Posters should be 24″ x 36″ and can be in either portrait or landscape orientation.
   <p> The HAMER organizing committee will be providing easels and poster boards.
   



  <h3>List of Accepted Posters</h3>

  <p>The accepted posters will be listed here once selected.</p>
