<div id="program" class="content-container">
  <div class="jumbotron">
    <h1>
      Program<br />
      
      <small>Saturday May 10 2025, 9am - 6pm</small><br />
      <small>Room 66-110, MIT Campus</small>
    </h1>
  </div>
  


  <p style="text-align: center;">
    <a href="javascript: toggleVisibility ('showall')">Show</a>/<a 
    href="javascript: toggleVisibility ('hideall')">Hide all abstracts</a>
  </p>


  <table class="table table-bordered table-hover table-condensed programTable">
    <tbody>
      <tr>
        <th width="17%">Time</th>
        <th width="83%">Event</th>
      </tr>
      <tr class="warning">
        <td>9:00 - 9:30</td>
        <td><strong>Registration</strong></td>
      </tr>
      <tr class="warning">
        <td>9:30 - 9:45</td>
        <td><strong>Welcome and Introductory Remarks</strong></td>
      </tr>

      <tr class="success">
        <td colspan="2" align="center"><strong>Session A</strong><br>
        Chairs: George Asimellis (New England College of Optometry), 
        <br>Konstantinos Maliaris (Harvard University)</td>
      </tr>

      <tr>
        <td>9:45 - 10:00</td>
        <td><i>Laser Spectroscopy Diagnostics for the In-situ Characterization of Catalyst 
        Nanoparticles Synthesized by the Reactive Spray Deposition Technology</i><br>
        Evangelos Stefanidis (University of Connecticut)<br>
        <a href="javascript: toggleVisibility ('#sessionAtalk1')">Toggle Abstract</a>
        <div id="sessionAtalk1" class="abstract" style="display: none;">
          This work details the implementation of in-situ laser spectroscopy diagnostics to 
          characterize the flame synthesis of catalyst nanoparticles by the 
          Reactive Spray Deposition Technology (RSDT). RSDT is a one-step process that deposits 
          flame-synthesized nanocatalysts directly onto a conductive membrane, 
          producing highly efficient Membrane Electrode Assemblies (MEAs) with super-low catalyst 
          loadings. The flame-synthesized nanoparticles properties, 
          which determine the MEAs performances, can be monitored by implementing in-situ laser 
          diagnostics, including fluence-independent Raman and Elastic Laser 
          Light Scattering (R-LLS and E-LLS) and Laser-Induced Incandescence (LII). Measurements 
          are performed in three RSDT flames, synthesizing iridium or platinum 
          nanoparticles using a 532nm pulsed Nd:YAG laser. R-LLS measures the average flame 
          temperature and the major flame products and enables the in-situ identification 
          of functional groups on the surface of the young catalyst nanoparticles emerging from the 
          flame. R- and E-LLS depolarization ratio informs us about the presence of 
          anisotropic aggregates of a few spherical nanoparticles whose average size is measured by 
          E-LLS. The measured LII spectra track the nanoparticle volume fraction and 
          changes in their spectral emissivity, signaling changes in phase/composition as they age 
          in the oxidation region of the flame. Laser diagnostics results are validated 
          by independent characterizations of nanoparticles directly sampled from the flame.
        </div>
        </td>
      </tr>

      <tr>
        <td>10:00 - 10:15</td>
        <td><i>On the Optimization of Hard and Soft Sensing Via Symbolic Regression for Enhanced 
        Fault Detection in Feedback Control Systems</i><br>
        Efi Safikou (University of Connecticut)<br>
        <a href="javascript: toggleVisibility ('#sessionAtalk2')">Toggle Abstract</a>
        <div id="sessionAtalk2" class="abstract" style="display: none;">
          Detecting faults in closed-loop control systems is challenging due to feedback mechanisms 
          that can obscure or delay fault effects. Ensuring system safety and reliability 
          requires advanced fault detection tools. To address this, we propose a physics-informed, 
          data-driven framework for designing informative inferential sensors - cost-effective 
          alternatives to traditional hardware - that provide robust fault detection even in noisy 
          and uncertain environments. Our approach leverages symbolic regression, where through 
          genetic programming, we derive mathematical expressions that accurately represent system 
          parameters, even with limited training data. These expressions are optimized using 
          statistical estimation theory, specifically the D-optimality criterion, to enhance fault 
          sensitivity beyond conventional hard sensors. To evaluate our method, we integrate 
          an Extended Kalman Filter for fault estimation within a closed-loop dynamic model of a 
          plate-fin cross-flow heat exchanger, considering varying levels of parameter uncertainty 
          and measurement noise. Comparative analysis demonstrates that incorporating inferential 
          sensor data alongside physical sensor measurements significantly improves fault detection 
          accuracy and reliability.
        </div>
        </td>
      </tr>

      <tr>
        <td>10:15 - 10:30</td>
        <td><i>Optimization of Economic Dispatch and Load-Following Operation in Nuclear Integrated 
        Energy Systems</i><br>
        Athanasios Ioannis Arvanitidis (The University of Texas at San Antonio)<br>
        <a href="javascript: toggleVisibility ('#sessionAtalk3')">Toggle Abstract</a>
        <div id="sessionAtalk3" class="abstract" style="display: none;">
          The need for distributed and adaptable energy resources that can handle the growing 
          unpredictability in both supply and demand is rising as the power system continues to modernize. 
          In order to satisfy those needs and maintain grid resilience, nuclear power plants can 
          dynamically control their output, despite typically being used as baseload generators. 
          By incorporating energy storage and renewable energy sources, nuclear integrated energy 
          systems are designed to satisfy the electrical and thermal demands of different end-user 
          applications while ensuring flexible power operation. These systems generate revenue by 
          participating in both wholesale and ancillary services electricity markets, as well as 
          commodity markets for various byproducts generated from coupled industrial processes. My 
          study addresses the economic dispatch efficiency of a tightly coupled nuclear integrated 
          energy system comprising a gigawatt-scale light water reactor, commercialized in the U.S., 
          a high-temperature steam electrolysis unit for hydrogen production, a district heating network, 
          and specified electrical loads. Numerical results from scenarios with varying renewable 
          integration indicate that the proposed NIES configuration enhances energy storage utilization, 
          improves reactor flexibility under fluctuating demand, increases market commitment, and 
          ultimately yields higher revenue.
        </div>
        </td>
      </tr>

      <tr>
        <td>10:30 - 10:45</td>
        <td><i>Nuclear Reactor Fuel Cycle Optimization with AI</i><br>
        Loukas Carayannopoulos (MIT)<br>
        <a href="javascript: toggleVisibility ('#sessionAtalk4')">Toggle Abstract</a>
        <div id="sessionAtalk4" class="abstract" style="display: none;">
          Refueling nuclear reactors to maximize fuel efficiency is a complex combinatoric problem 
          with an overwhelming number of possible solutions. In boiling water reactors (BWRs), the 
          second most common reactor type in the world, this process occurs at two levels: arranging
           fuel assemblies within the reactor core and specifying the composition of individual fuel
            assemblies. Past research focused on each problem separately, even though they strongly 
            influence each other. In recent years, reinforcement learning – a type of artificial 
            intelligence that learns through trial and error – has shown promise in solving complex 
            optimization problems. In this study, we apply reinforcement learning to the challenge 
            of arranging fuel assemblies within the reactor core, marking the first time this 
            technique has been used at this level. We also link this core-level optimizer to another
             reinforcement learning system that designs individual fuel assemblies. To demonstrate 
             the effectiveness of this approach, we design a loading pattern – an arrangement of 
             assemblies in the core – for a real-world reactor fuel cycle using assemblies generated 
             by our reinforcement learning-based assembly optimizer. This prototype optimizer finds 
             loading patterns with a .06% lower average enrichment than expert-designed loading 
             patterns, which corresponds to a ~3.5-million-dollar reduction in fuel cost for a 
             single fuel cycle.
        </div>
        </td>
      </tr>

      <tr>
        <td>10:45 - 11:00</td>
        <td><i>FES: Regenerative Braking for Truck Refrigeration Units</i><br>
        Paraskevas Fotiadis (Babson College)<br>
        <a href="javascript: toggleVisibility ('#sessionAtalk5')">Toggle Abstract</a>
        <div id="sessionAtalk5" class="abstract" style="display: none;">
          I am researching the design and development of a retrofit that hybridizes existing 
          heavy-duty truck refrigeration units powered via regenerative braking to mitigate diesel 
          consumption/emissions, provide a backup generator in case of unit failure, and enable 
          propulsion in trailers that harness excess power. I am looking to modify existing 
          refrigeration systems by hybridizing a single-input mechanical compressor, enabling it to 
          be electrically driven by a weight and size-effective generator, creating immediate cost 
          savings without requiring any existing infrastructure replacement. 
          <br><br>
          With over 500,000 diesel reefer units in the U.S. each burning $18,000–$30,000 in diesel 
          annually, implementing regenerative braking provides an immediate path to environmental 
          and economic sustainability. By recapturing braking energy and storing it in an onboard 
          battery, I have found that it can supply 80-100% of a refrigeration unit’s energy needs, 
          translating to an equivalent reduction in CO₂ emissions. This hybridized system can 
          operate independently during idle periods and includes a diesel backup to ensure 
          reliability.
          <br><br>
          I plan to transition my research into the development stage of this new technology, which 
          I have already started prototyping. These early-stage prototypes are focused on validating 
          energy recovery, battery storage, and seamless integration within existing reefer units. 
          The ultimate goal is to bring this solution to market as a cost-effective retrofit option.

        </div>
        </td>
      </tr>

      <tr>
        <td>11:00 - 11:15</td>
        <td><i>A Holistic Framework for Decarbonization at OCP</i><br>
        Periklis Petridis (MIT)<br>
        <a href="javascript: toggleVisibility ('#sessionAtalk6')">Toggle Abstract</a>
        <div id="sessionAtalk6" class="abstract" style="display: none;">
          In light of rapidly decreasing costs of renewable energy technologies, companies are 
          increasingly looking to integrate renewable energy sources into their energy mix.
          In the last decade, the costs of solar, wind, and battery energy storage systems have 
          fallen by 90%, 70%, and 85% respectively, making clean energy projects increasingly 
          cost-effective compared to fossil fuel-based energy. However, the intermittent nature of 
          renewable energy sources, such as solar and wind, poses significant reliability challenges
           for energy systems, especially when coupled with the need to meet growing energy demands. 
           In this work, we collaborate with one of the world's largest exporters of fertilizers to 
           decarbonize their energy mix by 2027, while expanding their operations to meet a 
           projected energy demand of approximately 12 TWh per annum by 2030. We develop a holistic,
            tractable, and robust framework for decarbonization at OCP, which addresses the 
            challenges of integrating solar and wind energy sources over a long-term planning 
            horizon. This framework consists of two main components: (i) a robust strategic capacity 
            expansion planning model that determines the up-front capital expenditures (CAPEX) for 
            renewable energy installations and battery placement decisions, and (ii) an adaptive 
            robust economic dispatch model that provides operational policies on an hourly basis for 
            energy transmission, generation, and procurement, and also serves to validate the 
            robustness of the strategic decisions.
        </div>
        </td>
      </tr>

      <tr class="warning">
        <td>11:15 - 11:45</td>
        <td><strong>Coffee Break 1</strong></td>
      </tr>


      <tr class="success">
        <td colspan="2" align="center"><strong>Session B</strong><br>
        Chairs: Vasileios Zikopoulos (Boston University), <br> Ioannis Lempesis (Harvard University)</td>
      </tr>

      <tr>
        <td>11:45 - 12:00</td>
        <td><i>The R.O.A.D. to Clinical Trial Emulation</i><br>
        Angelos Koulouras (MIT)<br>
        <a href="javascript: toggleVisibility ('#sessionBtalk1')">Toggle Abstract</a>
        <div id="sessionBtalk1" class="abstract" style="display: none;">
        Observational studies provide the only evidence on the effectiveness of interventions when 
        randomized controlled trials (RCTs) - apart from the initial RCT that establishes the 
        efficacy of a treatment compared to a placebo - are impractical due to cost, ethical 
        concerns, or time constraints. While many methodologies aim to draw causal inferences from 
        observational data, there is a growing trend to model observational study designs after 
        RCTs, a strategy known as “target trial emulation.” In this work, we present a novel 
        framework for target trial emulation that aims to overcome several key limitations, 
        including confounding bias. The framework proceeds as follows: First, we apply the 
        eligibility criteria of a specific trial to an observational cohort derived from real-world 
        data. We then “correct” this cohort by extracting a subset that, through optimization 
        techniques, matches both the distribution of covariates and baseline prognoses of the 
        target RCT. Next, we address unmeasured confounding by adjusting the prognosis estimates of 
        the treated group to align with those observed in the trial. Following trial emulation, we 
        go a step further by leveraging the emulated cohort to train optimal decision trees, 
        developed by our team, to identify subgroups of patients exhibiting heterogeneity in 
        treatment effects. The validity of the treatment effects estimated by our framework is 
        independently confirmed by the team responsible for the original trial we emulate.
          </div>
        </td>
      </tr>

      <tr>
        <td>12:00 - 12:15</td>
        <td><i>Secondary Analysis of the Effect of Patient Treatment Preference on the Clinical 
        Outcomes in Subjects with Treatment Resistant Depression Enrolled in ASCERTAIN-TRD Study</i><br>
        Stefania Chaikali (Harvard Medical School)<br>
        <a href="javascript: toggleVisibility ('#sessionBtalk2')">Toggle Abstract</a>
        <div id="sessionBtalk2" class="abstract" style="display: none;">
        Methods: This secondary data analysis examines treatment preference and response in the 
        ASCERTAIN-TRD trial (NCT02977299), comparing aripiprazole augmentation, rTMS augmentation, 
        and switching to venlafaxine XR or duloxetine in MDD patients with treatment-resistant 
        depression (TRD). Preferences were recorded at study entry, and response was evaluated 
        based on MADRS score changes from baseline to week 8 using mixed-effects models.
        <br><br>
        Results: Of 278 subjects, 256 had post-baseline MADRS scores and recorded preferences. 
        Preferences did not significantly affect treatment response overall (p=0.59) or within 
        specific treatment groups: aripiprazole (p=0.63), rTMS (p=0.32), and venlafaxine 
        XR/duloxetine (p=0.29).
        <br><br>
        Conclusion: Patient preference is not a significant factor in treatment outcomes. This 
        study is the first to investigate preference effects on r-TMS treatment response, 
        highlighting the need for a nuanced understanding of preference impacts on pharmacotherapy 
        and r-TMS efficacy.
        </div>
        </td>
      </tr>

      <tr>
        <td>12:15 - 12:30</td>
        <td><i>Greek CULTURE Study: Cultural Understanding of Lung Cancer Through Surveys in 
        Greek Communities</i><br>
        Natalie Wing (Massachusetts General Hospital)<br>
        <a href="javascript: toggleVisibility ('#sessionBtalk3')">Toggle Abstract</a>
        <div id="sessionBtalk3" class="abstract" style="display: none;">
        Very little is known about cultural perceptions around lung cancer and smoking. This study 
        evaluates cultural differences in perceptions to inform and tailor culturally conscious 
        lung cancer messaging and smoking cessation strategies.  
        <br><br>
        We conducted a survey to determine cultural beliefs, perceptions, and experiences 
        surrounding lung cancer and smoking cessation among adult smokers and non-smokers from 
        diverse cultural backgrounds. 
        <br><br>
        A total of 214 responses were collected from community members ages 18–90 in the United 
        States and Greece: 32% of respondents identified as Greek (of which 91% reported high 
        smoking incidence in their culture) (response rate: 7%)
        <br><br>
        The overall most reported reason for not smoking was “health.” In the Greek cohort, this 
        was followed by “family” (8%), whereas in other cultures it was followed by “lack of 
        interest” (20%) and “smell” (11%). The most cited reason for starting smoking in the Greek 
        cohort was “peer pressure” (19%), whereas in other cultures it was “social influence” (28%).
        <br><br>
        Of the Greek respondents, 75% have advised someone to quit smoking, of which 71% said that 
        person responded negatively or dismissively. Only 53% of respondents from other cultures 
        encountered similar negative responses.
        
        Although some perceptions of smoking, lung cancer and perceived risk were similar across 
        cultures, motivations and deterrents to smoking, as well as responses to cessation advice, 
        varied between cultures. 
        </div>
        </td>
      </tr>

      <tr>
        <td>12:30 - 12:45</td>
        <td><i>Free Androgen Index (FAI) as a Treatment Response Predictor Among Patients with 
        Polycystic Ovary Syndrome (PCOS) Undergoing Ovulation Induction/Intrauterine Insemination
        (OI/IUI)</i><br>
        Maryanthe Kavelidou (Massachusetts General Hospital / Harvard Medical School)<br>
        <a href="javascript: toggleVisibility ('#sessionBtalk4')">Toggle Abstract</a>
        <div id="sessionBtalk4" class="abstract" style="display: none;">
        Objective: To evaluate the utility of the free androgen index (FAI) as a predictor of 
        treatment response (TR) in PCOS patients undergoing ovulation induction (OI) with 
        intrauterine insemination (IUI) using either oral medications (OM) or gonadotropins (Gn).
        <br><br>
        Materials and Methods:
        Retrospective cohort of 1505 OI/IUI cycles (OM: 973, Gn: 532) from 469 PCOS patients at an 
        academic fertility center. FAI was calculated as total testosterone × 3.47 / SHBG, and 
        categorized by quartiles (Q1–Q4). Primary outcome: TR (≥1 dominant follicle). Secondary: 
        total Gn dose (Gn cycles only). Mixed effects regression models were used, adjusting for 
        age, BMI, and OM dose when applicable.
        <br><br>
        Results:
        Higher FAI quartiles were associated with lower TR odds [Q4 vs Q1: adjOR 0.87 (0.80–0.94), 
        p<0.001; p-trend<0.001]. This trend was more pronounced in OM cycles [Q4 vs Q1: adjOR 0.78 
        (0.70–0.87), p<0.001; p-trend<0.001], and persisted after adjusting for OM dose. No TR 
        differences were observed in Gn cycles, though higher FAI correlated with increased total 
        Gn dose [Q4 vs Q1: β=264.7, p<0.001; p-trend<0.001].
        <br><br>
        Conclusions:
        Higher FAI levels predict lower response to OM-based OI in PCOS patients, independent of 
        medication dose. FAI may be useful in tailoring treatment strategies and counseling.
                </div>
        </td>
      </tr>

      <tr>
        <td>12:45 - 13:00</td>
        <td><i>Cumulative Incidence of Positive Penicillin Allergy Testing in Hospitalized Patients: 
        A Systematic Review and Meta-analysis</i><br>
        Sophia Chrysoula Mylonakis (Boston University)<br>
        <a href="javascript: toggleVisibility ('#sessionBtalk5')">Toggle Abstract</a>
        <div id="sessionBtalk5" class="abstract" style="display: none;">
        Background: Inaccurate penicillin allergy labels in hospitalized patients are associated 
        with increased antibiotic-related harm, the emergence of resistant organisms, and elevated 
        healthcare costs for both patients and institutions.
        <br><br>
        Objective: To determine the pooled cumulative incidence of positive penicillin allergy 
        evaluations among inpatients undergoing penicillin skin testing (PST) and/or direct oral 
        challenge (DOC). Secondary outcomes included the rate of adverse reactions, removal of 
        allergy labels from medical records, and changes in antibiotic prescribing to include 
        penicillin or beta-lactam agents after negative evaluations.
        <br><br>
        Methods: A systematic search of PubMed and EMBASE was conducted to identify observational 
        studies reporting penicillin allergy evaluations in hospitalized patients using PST and/or 
        DOC.
        <br><br>
        Results: Forty studies were included. Of the 33 studies using PST, 6,763 patients were 
        tested, with 443 (6.55%) testing positive, resulting in a pooled cumulative incidence of 
        3.53% (95% CI: 1.47–6.23; I² = 94.5%). The pooled cumulative incidence of positive DOC was 
        1.72% (95% CI: 0.59–3.24; I² = 59.0%). Among 1,041 patients with negative evaluations, 920 
        (88.38%) had their penicillin allergy label removed from electronic health records.
        <br><br>
        Conclusion: These findings support the use of structured, risk-based allergy evaluation 
        protocols to facilitate accurate allergy documentation, optimize antibiotic use, and 
        improve patient outcomes.

        </div>
        </td>
      </tr>

      <tr>
        <td>13:00 - 13:15</td>
        <td><i>Minority of Athorny Pyramidal Cells Drive Intrinsic CA3 Microcircuit Capabilities for 
        Robust Pattern Completion</i><br>
        Elisavet Kapetanou (University of Crete & FORTH)<br>
        <a href="javascript: toggleVisibility ('#sessionBtalk6')">Toggle Abstract</a>
        <div id="sessionBtalk6" class="abstract" style="display: none;">
        We present a reduced spiking neural network model of the hippocampal CA3 microcircuit to 
        dissect mechanisms of pattern completion across different levels – subcellular, cell 
        heterogeneity and connectivity mechanisms. Our network comprises 600 multi‑compartmental 
        pyramidal neurons, four interneuron classes (OLM, basket, bistratified, VIP), and 
        Poisson‑driven entorhinal and dentate gyrus inputs. Validated against electrophysiological 
        data, the model supports systematic perturbations—removing NMDA‑mediated dendritic 
        nonlinearities, introducing pyramidal cell heterogeneity, comparing lamellar versus sparse 
        recurrent connectivity, and tuning NMDA receptor kinetics (e.g., GluN2A vs GluN2B). We show 
        that introducing a minority (10–20%) of athorny pyramidal subtype with bursty firing 
        behaviour and asymmetric recurrent connectivity within pyramidal populations, markedly 
        improved pattern completion occurs under partial cues and severely degraded input that 
        cannot be replicated with increase of recurrent connectivity and network excitability. 
        Finally, under simultaneous presentation of minimally overlapping input patterns, the 
        network exhibits attractor dynamics, converging on stable neuronal ensemble representations. 
        These findings reveal unique contributions of cellular minorities in robust associative 
        memory recall and guide future experimental and theoretical studies in neuroscience and 
        design of more efficient neural networks with less synapses.
        </div>
        </td>
      </tr>

      <tr class="warning">
        <td>13:15 - 14:30</td>
        <td><strong>Lunch Break</strong></td>
      </tr>



      <tr class="success">
        <td colspan="2" align="center"><strong>Session C</strong><br>
        Chairs: Efthimios Kaxiras (Harvard University), <br>Erotokritos Katsavounidis (MIT)</td>
      </tr>

      <tr>
        <td>14:30 - 14:45</td>
        <td><i>Crete Unyielding: A Cultural History of Resistance and Survival</i><br>
        Giovanni Panagiotakis (Northeastern University)<br>
        <a href="javascript: toggleVisibility ('#sessionCtalk1')">Toggle Abstract</a>
        <div id="sessionCtalk1" class="abstract" style="display: none;">
        This presentation will explore the history and significance of Cretan culture, with a focus 
        on how the island’s spirit of resistance has been cultivated through generations. The 
        resistance, most famously recognized during World War II, is rooted in an ancient culture 
        that has persevered for millennia and continues to influence Crete today. By analyzing the 
        island’s history, my presentation highlights the connection between Crete's struggle for 
        independence and the cultural traditions that have shaped its resilience. Drawing from my 
        own Cretan heritage, I incorporate personal experiences and my family's history to provide 
        a deeper understanding of this enduring spirit.
        <br><br>
        The research spans ancient, medieval, and modern periods, offering historical context and 
        exploring cultural elements that demonstrate how Cretans have consistently fought to 
        preserve their identity and autonomy. Through a 10-day solo visit to Crete, I gained 
        firsthand insights into the island’s people, culture, and history, visiting key sites like 
        Knossos Palace, Kandanos Village, and Samaria Gorge. Conversations with locals helped me 
        connect modern practices with historical traditions, further enriching my understanding of 
        Cretan resistance.
        <br><br>
        My research culminated in a 30-page senior capstone paper which I presented at the 
        Northeastern Undergraduate Research Forum. Through this symposium, I hope to further refine 
        my analysis and foster discussions on the lasting bond between culture and resistance in 
        Crete. 
          </div>
        </td>
      </tr>

      <tr>
        <td>14:45 - 15:00</td>
        <td><i>Structural Design Space Exploration Through Rule-based Generation of Equilibrium 
        Representations</i><br>
        Ioannis Mirtsopoulos (MIT)<br>
        <a href="javascript: toggleVisibility ('#sessionCtalk2')">Toggle Abstract</a>
        <div id="sessionCtalk2" class="abstract" style="display: none;">
        The representation of a structure in static equilibrium can be reduced to abstract 
        equilibrium configurations that consist of vectors, nodes, and bars in compression or 
        tension. Theoretically, infinite arrangements of linear elements in tension or compression 
        exist for a given loading. However, in practice, architects and engineers typically explore 
        and/or employ only a small fraction of these equilibrium configurations. 
        <br><br>
        Stemming from the above statement, Mirtsopoulos et al. have implemented an incremental 
        design framework to generate network topologies in static equilibrium. The design process 
        consists in transitioning from a disconnected network of force vectors in interim 
        equilibrium to a connected network of bars and force vectors in global static equilibrium. 
        The goal of subsequent stepwise transformations is the incremental elimination of interim 
        forces in the network through the addition of bars and other interim forces. Each 
        transformation step consists of (a) the introduction of a new node; (b) the elimination of 
        selected interim forces; (c) the creation of new bars in compression or tension; and (d) if 
        necessary, the introduction of new interim forces that retain static equilibrium. Each 
        transformation step is controlled by a rule schema, described by several parameters. The 
        sequential application of diverse and/or identical rule schemas at each step results in 
        diverse structural design solutions and thus supports the concept of structural design 
        space exploration.
        </div>
        </td>
      </tr>

      
      <tr>
        <td>15:00 - 15:15</td>
        <td><i>Data-driven Mapping of Workforce AI Optimism: Factors that Shape Workers’ AI Outlook 
        in Different Regions</i><br>
        Marilena Velonia Bellonia (MIT)<br>
        <a href="javascript: toggleVisibility ('#sessionCtalk3')">Toggle Abstract</a>
        <div id="sessionCtalk3" class="abstract" style="display: none;">
          Examining the future of work with AI extends beyond simplistic narratives, with change 
          patterns varying across industries and regions based on diverse contextual factors. 
          Drawing on a rich body of literature on technology, trust and change, this work examines 
          key factors driving workers’ trust in AI, and their perceptions of the impact of new 
          technologies and automation on various aspects of the economy and society. The focus is on 
          understanding how the industrial and regulatory landscape in which workers operate, 
          combined with cultural factors, shapes their AI optimism, with a particular emphasis on 
          the US and Europe. Based on a survey of 9,000 workers across nine countries, this study 
          analyzes data to identify how key drivers of workers' technology optimism interweave, 
          shaping their attitudes toward new technologies and automation. Individual familiarity 
          and engagement with AI, as well as a worker’s industry of employment, emerge as important 
          drivers of trust in AI, while the institutional and regulatory environment, encompassing 
          both technology governance and social safety nets, also have a significant impact. 
          Interpersonal trust propensity contributes to AI trust formation, though its relevance 
          exhibits regional variation. The study seeks to provide insights into critical factors 
          shaping productive relationships between workers and AI, so that societies can unlock the 
          value of emerging technologies, while supporting workforce familiarization and adoption.
        </div>
        </td>
      </tr>

      <tr>
        <td>15:15 - 15:30</td>
        <td><i>The Privacy/Transparency Trade-off in Offline CBDCs</i><br>
        Panagiotis Michalopoulos (University of Toronto)<br>
        <a href="javascript: toggleVisibility ('#sessionCtalk4')">Toggle Abstract</a>
        <div id="sessionCtalk4" class="abstract" style="display: none;">
        The rise of digital payments and steady decline in cash usage by the public in recent years 
        have prompted central banks worldwide to explore digital forms of fiat money, known as 
        Central Bank Digital Currencies (CBDCs). An important feature of CBDCs is the ability to 
        facilitate transactions without network connectivity. While this approach is generally 
        believed to provide additional degrees of freedom for user privacy, the absence of direct 
        third-party involvement (e.g., payment processor) in these offline transfers interferes with 
        key regulatory requirements of the financial space. The first part of the talk evaluates 
        technologies that can balance privacy with Anti-Money Laundering and Counter-Terrorism 
        Financing (AML/CFT) measures. It classifies privacy design options and corresponding 
        technical building blocks for offline CBDCs, analyzing their impact on common AML/CFT 
        measures. As such, it provides a framework for further techno-legal assessments and 
        implementations. The second part, building on this framework, introduces a prototype for 
        offline CBDC transactions that leverages SEs, ZKPs, and digital identity to navigate the 
        privacy/transparency trade-off. SEs ensure a high level of security for offline transaction 
        execution and regulatory compliance, while ZKPs enable privacy-preserving use of identity 
        credentials to satisfy regulatory requirements without compromising user privacy. The 
        prototype is validated through a security analysis and a performance evaluation.
        </div>
        </td>
      </tr>

      <tr class="warning">
        <td>15:30 - 16:00</td>
        <td><strong>Coffee Break 2</strong></td>
      </tr>


      <tr class="success">
        <td colspan="2" align="center"><strong>Session D</strong><br>
        Chairs: George M. Bollas (University of Connecticut), <br>Gregory Stephanopoulos (MIT)</td>
      </tr>

      <tr>
        <td>16:00 - 16:15</td>
        <td><i>Integrating Machine Learning and Systems Biology to Rationally Design Operational 
        Conditions for Clinical Translation of Microphysiological Systems</i><br>
        Nikolaos Meimetis (MIT)<br>
        <a href="javascript: toggleVisibility ('#sessionDtalk1')">Toggle Abstract</a>
        <div id="sessionDtalk1" class="abstract" style="display: none;">
        Microphysiological systems (MPS) with human cellular components are valuable preclinical 
        models for disease studies, yet selecting optimal experimental conditions—such as growth 
        factors, cytokines, and extracellular matrix elements—to enhance MPS relevance to human 
        biology remains challenging. Here, we present LIV2TRANS, a machine learning framework 
        developed using metabolic dysfunction-associated fatty liver disease (MAFLD) as a case 
        study. LIV2TRANS identifies biomolecular cues maximizing biologically meaningful variance 
        captured by MPS, improving translation to human patients.
        <br><br>
        Initially, partial least squares regression predicted human MAFLD phenotypes from gene 
        expression, demonstrating high predictive accuracy. Projecting human data onto the 
        MPS-derived principal component (PC) space and truncating uncaptured molecular variance 
        significantly reduced performance, indicating that the current MPS setups do not fully 
        recapitulate the human molecular variance.
        <br><br>
        Thus, we first defined translatable components (TCs)—linear combinations of MPS 
        PCs—preserving essential predictive variance, and then identified additional latent 
        variables (LVs), orthogonal to current MPS variance, that can recover lost human variance. 
        Interofgating TCs points to TGFβ signaling as crucial for effective translation, while the 
        LVs point to IFNa as a necessary cue to be added. Finally, unsupervised optimization 
        highlighted more perturbations as critical for broadly capturing human molecular variance.
          </div>
        </td>
      </tr>

      

      <tr>
        <td>16:15 - 16:30</td>
        <td><i>Optimal Scheduling of Dynamic Transport</i><br>
        Panagiotis Tsimpos (MIT)<br>
        <a href="javascript: toggleVisibility ('#sessionDtalk3')">Toggle Abstract</a>
        <div id="sessionDtalk3" class="abstract" style="display: none;">
          Flow-based methods for sampling and generative modeling use continuous-time dynamical 
          systems to represent a {transport map} that pushes forward a source measure to a target 
          measure. The introduction of a time axis provides considerable design freedom, and a 
          central question is how to exploit this freedom. Though many popular methods seek straight 
          line (i.e., zero acceleration) trajectories, we show here that a specific class of 
          "curved'' trajectories can significantly improve approximation and learning. In 
          particular, we consider the unit-time interpolation of any given transport map $T$ and 
          seek the schedule $\tau: [0,1] \to [0,1]$ that minimizes the spatial Lipschitz constant 
          of the corresponding velocity field over all times $t \in [0,1]$. This quantity is crucial 
          as it allows for control of the approximation error when the velocity field is learned 
          from data. We show that, for a broad class of source/target measures and transport maps 
          $T$, the optimal schedule can be computed in closed form, and that the resulting optimal 
          Lipschitz constant is exponentially smaller than that induced by an identity schedule 
          (corresponding to, for instance, the Wasserstein geodesic). Our proof technique relies on 
          the calculus of variations and the notion of $\Gamma$-convergence, allowing us to 
          approximate the aforementioned degenerate objective by a family of smooth, tractable 
          problems.
        </div>
        </td>
      </tr>

      <tr>
        <td>16:30 - 16:45</td>
        <td><i>Prompt Truthful Mechanisms for the Minimization of Weighted Completion Time</i><br>
        Alkiviadis Mertzios (MIT)<br>
        <a href="javascript: toggleVisibility ('#sessionDtalk4')">Toggle Abstract</a>
        <div id="sessionDtalk4" class="abstract" style="display: none;">
          This work introduces scheduling algorithms in the online setting, that are obviously 
          truthful for agents that act strategically. Truthfulness is achieved by promptness, where 
          we inform immediately a job of it's completion upon arrival. We also generalize this by 
          introducing "semi-prompt" algorithms, allowing completion times within an interval, and 
          present a constant competitive semi-prompt scheduling algorithm for intervals with an 
          endpoint ratio of at least two, based on our asymptotically optimal algorithm. We also 
          apply promptness to the Traveling Repairman Problem (TRP). We develop a O(1)-competitive 
          semi-prompt TRP algorithm based on the first O(1)-competitive online TRP algorithm. 
          Furthermore, we prove a key lower bound that shows that any fully-prompt online TRP 
          algorithm has a competitive ratio of at least Ω(Δ_{TSP-tour}). By approximating general 
          metrics with 2-HSTs, we achieve a fully-prompt TRP algorithm for general metrics that is 
          O(log n) away from the optimal lower bound, building upon our optimal fully-prompt TRP 
          algorithm for tree metrics.
        </div>
        </td>
      </tr>

      <tr>
        <td>16:45 - 17:00</td>
        <td><i>Cloud Data Processing with Latency Guarantees</i><br>
        Markos Markakis (MIT)<br>
        <a href="javascript: toggleVisibility ('#sessionDtalk5')">Toggle Abstract</a>
        <div id="sessionDtalk5" class="abstract" style="display: none;">
        Increasingly many organizations have been leveraging cloud-based Database-as-a-Service 
        offerings to reduce the overhead of in-house database administration. Such services have 
        introduced two important features in recent years: (i) a "serverless" pricing scheme, 
        where customers only pay for the computational resources they consume and (ii) the ability 
        to set up independent computational resources ("workers") that can access the same 
        underlying data. Jointly, these features promise cost-effective performance isolation 
        among critical parts of the workload ("streams") - just map each stream to its own 
        serverless worker. In practice, both the performance and the pricing implications of 
        this approach fall short of that promise. In my talk, I will explain why this is the case 
        and share early approaches for how a pool of workers can be more cost-effectively managed 
        to serve a collection of streams.
        </div>
        </td>
      </tr>

      <tr>
        <td>17:00 - 17:15</td>
        <td><i>Predicting and Targeting Energy Poverty Across 28 Countries with Machine Learning
        </i><br>
        Constantine Spandagos (University of New Hampshire)<br>
        <a href="javascript: toggleVisibility ('#sessionDtalk6')">Toggle Abstract</a>
        <div id="sessionDtalk6" class="abstract" style="display: none;">
          The prevalence of energy poverty, coupled with the escalating energy crisis and the urgent 
          need for fair support mechanisms in the net-zero transition, highlights the importance of 
          accurately predicting energy-vulnerable households. Often, this is hindered by limited 
          recognition of the fact that energy vulnerable households are not necessarily income poor. 
          Artificial Intelligence, and Machine Learning techniques in particular, may be applied to 
          improve the targeting mechanism of energy poverty schemes, enabling accurate prediction of 
          energy vulnerable households via objective, publicly available data. However, such 
          applications are still limited. In response, this study introduces an innovative Machine 
          Learning framework for accurate prediction and fair targeting of energy poor households 
          across 28 countries. By examining energy poverty beyond income, we reveal key household- 
          and country-level predictors of energy poverty, such as dwelling conditions, energy 
          efficiency, social protection payments, and fuel supplier switching rates. Additionally, 
          we demonstrate how Machine Learning algorithms provide transparent visualization of 
          energy poverty classification mechanisms, aiding policymakers in setting effective energy 
          assistance thresholds. Finally, we assess the fairness of energy alleviation schemes, 
          demonstrating that relying solely on income-based or welfare-based criteria risks 
          excluding a significant portion of energy-poor households from necessary support.
        </div>
        </td>
      </tr>

      

      <tr class="warning">
        <td>17:15 - 17:45</td>
        <td><strong>Award Committee Deliberation</strong></td>
      </tr>


      <tr class="warning">
        <td>17:45 - 18:00</td>
        <td><strong>Award Presentation and Closing Remarks</strong></td>
      </tr>

      <tr class="success">
        <td colspan="2" align="center"><strong>End Of Official Program</strong></td>
      </tr>


    </tbody>
  </table>

</div>