<div class="content-container">


  <div class="jumbotron">
    <h1> Registration Information<br />
			 
			 <small>Saturday May 9 2026, 9am - 6pm</small><br/>
			 <small>Room TBD, MIT Campus</small>    </h1>
  </div>


<p>
  For all registered participants, HAMER will provide two coffee breaks and lunch. 
   We offer the following four registration tiers, which include <strong>free</strong> admission for
   current students and early-career academics! Registration closes on <b>Sunday May 3, 2026 at 11:59pm ET.</b>
</p>

<table>
  <tr>
    <th>Tier</th>
    <th>Registration Fee</th>
  </tr>
  <tr>
    <td>Undergraduate Students</td>
    <td>FREE</td>
  </tr>
  <tr>
    <td>Graduate Students</td>
    <td>FREE</td>
  </tr>
  <tr>
    <td>Early-Career Academics</br>(PhD obtained in 2020 or later)</td>
    <td>FREE</td>
  </tr>
  <tr>
    <td>General Admission</td>
    <td>100 USD</td>
  </tr>
</table>

<p>

   <a href="" id="registerbtn">Register here!</a>
   <!-- Register here</a> -->

</p>


</div>