
<div class="content-container">
<div class="jumbotron">
   <h1>
      Event Photos<br />
     
     <small>Saturday May 9 2026, 9am - 6pm</small><br/>
     <small>Room TBD, MIT Campus</small>
   </h1>
</div>

<h2> 2025 </h2>
<img src="media/HAMER-2025-participants.jpg" alt="HAMER 2025 Participants" style="width: 400px;" /> 
<img src="media/HAMER-2025-award-ceremony.JPG" alt="HAMER 2025 Award Ceremony" style="width: 400px;" /> 
<img src="media/HAMER-2025-honorable-mentions.JPG" alt="HAMER 2025 Honorable Mentions" style="width: 400px;" />

</div>




