<div class="content-container">
   <div class="jumbotron">
      <h1>
         HAMER 2026 <br />
         <small>May 8-9 2026</small><br />
         <small>Consulate General of Greece in Boston / MIT Room 66-110</small>
      </h1>
      <p>Welcome to the second Hellenic-American Meeting of Early-Career Researchers (HAMER)! 
         HAMER 2026 will consist of a <b>keynote address</b> on May 8, followed
         by a day of <b>research presentations</b> on May 9.<br><br>
         
         Co-organized by a committee of students from academic institutions in the US Northeast, HAMER
         was conceived and organized by the <a href="https://www.hellenic-academics.org/">Circle of 
         Hellenic Academics in Boston</a>, a non-profit aiming to connect academics of Hellenic descent.
         It is also supported by the <a href="https://hellenic-ias.org/">Hellenic Institute of Advanced Studies</a>.<br /><br />

         <strong>Scope:</strong> The event will feature research presentations by students and early career researchers, loosely defined as within 
         5 years from the completion of their PhD degree. Participation from the broader academic/research community, 
         independently of their career stage, is expected. This will be an opportunity to connect and to foster collaborative 
         research within the broader Hellenic-American academic community in New England. Research presentations in any area of 
         science, engineering and the humanities are welcome! <br /><br />
         
         <strong>Awards:</strong> The organizing committee will also award two prizes for the two best research presentations at 
         the event. Each prize will cover round-trip airfare for the award recipient to visit an academic or 
         research institution in Greece! These awards are sponsored by Leta Serafim in honor of the 
         memory of her husband Philip Serafim, professor at Northeastern University and National Technical University of Athens.<br /><br />

         <strong>Travel Grants:</strong> A limited number of travel grants will 
         be offered to out-of-town participants. Applicants can apply for a travel
         grant by filling out the appropriate section of the <a href='#submission'>abstract submission
         form<a/>.

      </p>
   </div>
   <div class="page-content">

      <h2>Organizing Committee</h2>
      <ul id="committee" class="items">
         <li><a href="https://www.neco.edu/academics/faculty/george-asimellis/" target="_blank">George Asimellis</a> (NECO)</li>
         <li><a href="https://chemical-biomolecular.engr.uconn.edu/people/faculty/bollas-george/" target="_blank">George Bollas</a> (UConn)</li>
         <li><a href="https://www.linkedin.com/in/litsa-kapsalis-1a3b811a5/" target="_blank">Litsa Kapsalis</a> (MIT)</li>
         <li><a href="https://www.mit.edu/~kats/" target="_blank">Erotokritos Katsavounidis</a> (MIT)</li>
         <li><a href="https://www.physics.harvard.edu/people/facpages/kaxiras" target="_blank">Efthimios Kaxiras</a> (Harvard)</li>
         <li><a href="https://www.cs.bu.edu/~gkollios/" target="_blank">George Kollios</a> (BU)</li>
         <li><a href="https://seas.harvard.edu/person/petros-koumoutsakos" target="_blank">Petros Koumoutsakos</a> (Harvard)</li>
         <li><a href="https://sleep.hms.harvard.edu/faculty-staff/ioannis-lempesis" target="_blank">Ioannis Lempesis</a> (Harvard)</li>
         <li><a href="https://www.linkedin.com/in/maliaris/" target="_blank">Konstantinos Maliaris</a> (Harvard)</li>
         <li><a href="https://mmarkakis.github.io/" target="_blank">Markos Markakis</a> (MIT)</li>
         <li><a href="https://www.wellesley.edu/people/panagiotis-metaxas" target="_blank">Panagiotis Metaxas</a> (Wellesley)</li>
         <li><a href="https://cheme.mit.edu/profile/gregory-stephanopoulos/" target="_blank">Gregory Stephanopoulos</a> (MIT)</li>
         <li><a href="https://meche.mit.edu/people/faculty/MISTETRI@MIT.EDU" target="_blank">Michael Triantafyllou</a> (MIT)</li>
         <li><a href="https://www.bu.edu/sargent/profile/vasileios-zikopoulos-ph-d/" target="_blank"> Vasileios Zikopoulos</a> (BU) </li>

      </ul>

   <h2>Acknowledgement</h2>
      <p> The template for this website was borrowed from that for the <a href="https://nedbday.github.io/2025/"> North East Database Day 2025</a>.
         <br>
         <br>
         <br>


     
   </div>
</div>