<div class="content-container">
   <div class="jumbotron">
      <h1>
         Hellenic-American Research Symposium 2025 <br />
         <small>Saturday May 10th, 2025</small><br />
         <small>MIT Campus</small>
      </h1>
      <p>Welcome to the home page for the inaugural Hellenic-American Research Symposium, to be held on May 10th,
         2025, on the MIT Campus!<br /><br />
         
         Co-organized by a committee of students from Boston-area academic institutions, the symposium
         is envisioned and supported by the <a href="https://www.hellenic-academics.org/">Circle of 
         Hellenic Academics in Boston</a>, a non-profit aiming to connect academics of Hellenic descent.<br /><br />
         
         The event is mostly envisioned for PhD and early career researchers, loosely defined as within 
         5 years from the completion of their PhD degree, to share their research in a short talk 
         with other researchers of Hellenic descent in a similar career stage. Research presentations 
         in any area of science, engineering and humanities are welcome! <br /><br />
         
         Depending on the number of submissions, we may also feature a poster session.
      </p>
   </div>
   <div class="page-content">

      <h2>Organizing Committee</h2>
      <ul id="committee" class="items">
         <li><a href="https://www.mit.edu/~kats/" target="_blank">Erotokritos Katsavounidis</a> (MIT)</li>
         <li><a href="https://cheme.mit.edu/profile/gregory-stephanopoulos/" target="_blank">Gregory Stephanopoulos</a> (MIT)</li>
         <li><a href="https://george-margaritis.com/" target="_blank">George Margaritis</a> (MIT)</li>
         <li><a href="https://mmarkakis.github.io/" target="_blank">Markos Markakis</a> (MIT)</li>
         <li><a href="https://orc.mit.edu/students/alkiviadis-mertzios/" target="_blank">Alkiviadis Mertzios</a> (MIT)</li>
      </ul>

   <h2>Acknowledgement</h2>
      <p> The template for this website was borrowed from that for the <a href="https://nedbday.github.io/2025/"> North East Database Day 2025</a>.
         <br>
         <br>
         <br>


     
   </div>
</div>