<div class="content-container">


  <div class="jumbotron">
    <h1> Venues<br />
			 <small>May 8-9 2026</small><br />
         <small>MIT Room 66-110 / Consulate General of Greece in Boston</small>
  </div>

  HAMER 2026 will be held in two locations:
  <ul>
    <li>Day 1 (May 8, 2026): <a href='https://maps.app.goo.gl/QWHfCvWu3nhBN9xC9'>Consulate General of Greece in Boston</a>, located at <strong>86 Beacon St, Boston, MA 02108</strong>
    <li>Day 2 (May 9, 2026): <a href='https://maps.app.goo.gl/fVJHXwCKfdtGZ7to6'>MIT Room 66-110</a>, located at <b>25 Ames St, Cambridge, MA 02139</b>
  </ul><br>

  A limited number of travel grants will 
  be offered to out-of-town participants. Applicants can apply for a travel
  grant by filling out the appropriate section of the <a href='#submission'>abstract submission
  form<a/>.

  <h2>Day 1 Venue Information</h2><br>

  <strong>Public Transportation:</strong> The Consulate General is a 10-minute
  walk from the <a href='https://maps.app.goo.gl/81w8PdMXWdAYzMmZA'>Park Street</a> stop, which serves the Red and Green Lines of
  the T. </br></br>

  <strong>Parking:</strong> The nearby <a href='https://bostoncommongarage.com/'>Boston Common Garage</a>
  offers lower rates for evening parking <b>if reserved online in advance</b>.
  There is also a limited amount of metered street parking on Beacon St.


  <h2>Day 2 Venue Information</h2><br>
 
  <strong>Public Transportation:</strong> Building 66 is a 5-minute walk from the <a href=https://maps.app.goo.gl/jPB3odWwSF8tr68x6'>Kendall/MIT</a> stop, which serves the Red Line of 
  the T and buses 64, 68 and 85. </br></br>

  <strong>Parking:</strong> If you are coming by car and have an MIT parking account, we recommend parking for free at the 
  <a href="https://maps.app.goo.gl/v4Mep3ExR3tpHDXw9">Stata Garage</a>. Otherwise, the nearby 
  <a href="https://maps.app.goo.gl/6Kt2zSCvZWrJ879U9">Albany Garage</a> offers a day pass for a flat 
  fee. There is also a limited amount of metered street parking on Ames St. For more details, you can access comprehensive visitor parking information for MIT 
  <a href="https://web.mit.edu/facilities/transportation/parking/visitors/">here</a>.</br></br>


  <strong>WiFi:</strong> You can connect to the "MIT GUEST" WiFi network. More details are available <a
  href="https://kb.mit.edu/confluence/display/istcontrib/The+MIT+GUEST+Wireless+Network" target="_blank">here</a>.
        


 </div>


