<div class="content-container">


  <div class="jumbotron">
    <h1> Venue Information<br />
			 
			 <small>Saturday May 9 2026, 9am - 6pm</small><br/>
			 <small>Room 66-110, MIT Campus</small>   </h1>
  </div>

  <h2>Location</h2>
  <p>HAMER 2026 will be held in Room 66-110 on the MIT Campus. 
  This room is located on the first 
  floor of MIT building 66. </br>

  <p>Here is a <a href="https://maps.app.goo.gl/fVJHXwCKfdtGZ7to6">link</a> to building 66, which is 
  located at the following address:</br>
  <b>25 Ames St, Cambridge, MA 02139</b>


	<h2>Transportation and Parking</h2>
 
  <p>Building 66 is a 5-minute walk from the <b>Kendall/MIT</b> stop, which serves the Red Line of 
  the T and buses 64, 68 and 85. </br>

  <p>If you are coming by car and have an MIT parking account, we recommend parking for free at the 
  <a href="https://maps.app.goo.gl/v4Mep3ExR3tpHDXw9">Stata Garage</a>. Otherwise, the nearby 
  <a href="https://maps.app.goo.gl/6Kt2zSCvZWrJ879U9">Albany Garage</a> offers a day pass for a flat 
  fee of $11. There is also a limited amount of metered street parking on Ames St.</br>

  <p>For more details, you can access comprehensive visitor parking information for MIT 
  <a href="https://web.mit.edu/facilities/transportation/parking/visitors/">here</a>.


  <h2>WiFi</h2>
  <p> You can connect to the "MIT GUEST" WiFi network. More details are available <a
  href="https://kb.mit.edu/confluence/display/istcontrib/The+MIT+GUEST+Wireless+Network" target="_blank">here</a>.
        


 </div>


