
<div class="content-container">
<div class="jumbotron">
   <h1>
      Keynote Address<br />
        <small>Friday, May 8, 2026 &mdash; 6:00&ndash;8:30 PM</small><br />
        <small>Consulate General of Greece in Boston</small><br>
        <small>86 Beacon Street, Boston, MA</small><br>
   </h1>
</div>

<div class="row">
  <div class="col-sm-12">
    <h2>Prof. Dimitris Bertsimas</h2>
    <p style="color:#888; font-family:'Josefin Sans', Arial, Helvetica, sans-serif; font-size:14pt; margin-left:0;">Boeing Leaders for Global Operations Professor of Management<br>
    Associate Dean for Business Analytics, MIT Sloan School of Management</p>
    <br>
    <h3><em>&ldquo;AI and Entrepreneurship&rdquo;</em></h3>
    <p>
      Dimitris Bertsimas is the Boeing Leaders for Global Operations Professor of Management and
      Associate Dean for Business Analytics at the MIT Sloan School of Management. He is one of the
      leading researchers in the world in the field of optimization and its applications in a wide variety
      of areas including machine learning, statistics, healthcare, finance, and transportation.
    </p>
    <p>
      He has co-founded several companies, including Dynamic Ideas (acquired by American Express),
      Benefits Science Technologies, Interpretable AI, and Holistic AI. He is the author of more than
      250 scientific papers and several textbooks. He has received numerous awards for his research
      and teaching, including the Morse prize, the Erlang prize, and the Farkas prize.
    </p>
  </div>
</div>

<hr>

<h3>Schedule</h3>
 <table class="table table-bordered table-hover table-condensed programTable">
    <tbody>
      <tr>
        <th width="20%">Session</th>
        <th width="15%">Time</th>
        <th >Event</th>
      </tr>
      <tr >
        <td></td>
        <td>6:00 &ndash; 6:15 PM</td>
        <td class="warning"><strong>Arrival</strong></td>
      </tr>
      <tr>
          <td rowspan="3" align="center" valign="middle" class="success"><strong>Keynote Address</strong></td>

        <td>6:15 &ndash; 6:30 PM</td>
        <td><strong>Introductions</strong></td>
      </tr>
      <tr>
        <td>6:30 &ndash; 7:00 PM</td>
        <td>
          <strong>&ldquo;AI and Entrepreneurship&rdquo;</strong><br>
          Prof. Dimitris Bertsimas<br>
          <small>Boeing Leaders for Global Operations Professor of Management &amp; Associate Dean for Business Analytics, MIT Sloan School of Management</small>
        </td>
      </tr>
      <tr>
        <td>7:00 &ndash; 7:30 PM</td>
        <td><strong>Q&amp;A</strong></td>
      </tr>
      <tr>
              <td></td>

        <td>7:30 &ndash; 8:30 PM</td>
        <td class="warning"><strong>Reception</strong></td>
      </tr>
    </tbody>
  </table>

</div>
