<div class="content-container">


  <div class="jumbotron">
    <h1> Submission Information<br />
			 <small>Hellenic-American Research Symposium 2025 </small><br />
			 <small>Saturday May 10th, 2025</small><br/>
			 <small>MIT Campus</small>   </h1>
  </div>


  <h2> Submissions </h2>
      We are soliciting proposals for presentations. Please prepare an abstract of
      up to one page (excluding references) describing research you would like to present. 
      This research may have been previously published, but we also welcome presentations
      about ongoing research or industry experience. 
      <br /><br />
      Our intention is to accommodate all reasonable presentations as 12-minute talks with 3
      minutes of questions. If the number of reasonable submissions exceeds the available talk slots, we
      will also hold a poster session for all such submissions, regardless of whether they are also
      selected for a talk slot or not.
      <br /><br />
      Please submit your presentation proposal below:

      <p>

        <a href="#" id="registerbtn">Submission link will be available shortly</a>
        <!-- Register here</a> -->

        </p>


      <h2>Important Dates (preliminary)</h2>
      <ul id="dates" class="items">
         <li><b>Talk and poster submission:</b> April 23, 2025, 11:59 PM EST (Wednesday)</li>
         <li><b>Author notification:</b> April 30th, 2025 (Wednesday)</li>
         <li><b>Last day of registration (for lunch order):</b> May 4th, 2025 (Sunday)
         </li>
         <li><b>Hellenic-American Research Symposium:</b> May 10th, 2025 (Saturday)</li>
      </ul>

       <h2>Acknowledgement</h2>
      <p> The <a href="https://cmt3.research.microsoft.com/Conference/Recent" target="_blank">Microsoft CMT service</a>
         was used for managing the peer-reviewing process for this conference. This service was provided for free by
         Microsoft and they bore all expenses, including costs for Azure cloud services as well as for software
         development and support.
         <br>
         <br>
         <br>






</div>
