
<div class="content-container">
<div class="jumbotron">
   <h1>
      Panel Discussion<br />
        <small>Saturday, May 9, 2026 &mdash; 4:30&ndash;5:30 PM</small><br />
        <small>MIT Room 66-110</small><br>
        <small>25 Ames St, Cambridge, MA</small><br>
   </h1>
</div>

  <h4><a href="#program">Return to Program</a></h4>


<div class="row">
  <div class="col-sm-12">
    <div class="row keynote-profile-row">
      <div class="col-sm-4" style="margin-bottom: 1em;">
        <img src="media/varsos.jpg" alt="Georgios Varsos" class="img-responsive img-thumbnail" style="width: 100%; max-width: 320px;" />
      </div>
      <div class="col-sm-8">
        <h3 style="margin-top: 0;"><a href="https://www.massgeneralbrigham.org/en/research-and-innovation/innovation/about/team/georgios-varsos">Georgios Varsos</a></h3>
        
          Georgios Varsos, PhD, is a senior manager of business development and 
          licensing at Mass General Brigham Innovation, where he supports 
          commercialization efforts of technologies, arising from Brigham and 
          Women’s Hospital. His mission is to advance health care innovation to 
          improve patient lives. Towards this goal, he has built a career with 
          over 12 years of global experience in business development, management 
          consulting, and clinical research. 
          <br><br>
          His work portfolio has included pharmaceuticals, medical devices, 
          laboratory diagnostics, and digital health applications across a 
          variety of therapeutic areas. He is a certified project manager and 
          has worked with several companies, ranging from big biopharma 
          companies to innovative start-ups. Georgios conducted his PhD 
          research in clinical neurosciences at the University of Cambridge 
          with his scientific work resulting in the elimination of a major 
          60-year drawback of a method assessing brain haemodynamics. 
          <br><br>
          His publication portfolio includes 37 scientific papers and 
          1,200+ citations, while his research set the basis for a $170K+ 
          NIH research grant. His undergraduate studies were in mechanical 
          engineering at the National Technical University of Athens and 
          Imperial College London. Georgios has received 15 awards and 
          scholarships for scientific, entrepreneurship, and philanthropy 
          achievements.
      </div>
    </div>
  </div>

  <hr style="border-color: #d3d3d3;" />

<div class="row">
  <div class="col-sm-12">
    <div class="row keynote-profile-row">
      <div class="col-sm-4" style="margin-bottom: 1em;">
        <img src="media/anastassiadis.webp" alt="Theonie Anastassiadis" class="img-responsive img-thumbnail" style="width: 100%; max-width: 320px;" />
      </div>
      <div class="col-sm-8">
        <h3 style="margin-top: 0;"><a href="https://www.flagshippioneering.com/people/theonie-anastassiadis">Theonie Anastassiadis</a></h3>
        
          Theonie Anastassiadis, Ph.D., is an Origination Partner at Flagship 
          Pioneering, where she conceives, builds, and grows Flagship’s next 
          generation of breakthrough biotechnology companies. She currently 
          serves as Founding President of Prologue Medicines, a company 
          harnessing the power of viral evolution to create transformative 
          therapies. Previously, she was a co-founder of Alltrna, a tRNA 
          platform company, where she served as Chief Innovation Officer from 
          2018 to 2024. 
          <br><br>
          Prior to joining Flagship in 2018, Theonie conducted doctoral research 
          in Cell and Molecular Biology with a focus on Cancer Biology at the 
          Perelman School of Medicine at the University of Pennsylvania. Her 
          work on replication fork dynamics in cancer development and 
          therapeutics was supported by multiple fellowships, including a 
          four-year NIH F31 NRSA Predoctoral Fellowship.
          <br><br>
          Theonie is an inventor on 15+ published patent applications and has 
          authored numerous scientific publications in journals including 
          Nature Biotechnology, Molecular Cell, and the Journal of Biological 
          Chemistry. She has been recognized in Endpoints News' 20 under 40 
          list of the next generation of biotech leaders and in Boston Business 
          Journal's 40 under 40 list for successful professionals giving back to 
          their community. She is a Business Advisory Board member of the 
          Harvard Institute for RNA Medicine and a 2026–2027 fellow in the 
          JOURNEY to Lead program.    
          <br><br>
          Theonie received her Ph.D. in Cell and Molecular Biology from the 
          University of Pennsylvania and holds a B.S. in Biology with honors 
          from Haverford College. She also completed the Wharton Business 
          Foundations Specialization.
        </div>
    </div>
  </div>

 
</div>
