
<div class="content-container">
<div class="jumbotron">
   <h1>
      Panel Discussion<br />
        <small>Saturday, May 9, 2026 &mdash; 4:30&ndash;5:30 PM</small><br />
        <small>MIT Room 66-110</small><br>
        <small>25 Ames St, Cambridge, MA</small><br>
   </h1>
</div>

  <h4><a href="#program">Return to Program</a></h4>

<div class="row">
  <div class="col-sm-12">
    <div class="row keynote-profile-row">
      <div class="col-sm-4" style="margin-bottom: 1em;">
        <img src="media/anastassiadis.webp" alt="Theonie Anastassiadis" class="img-responsive img-thumbnail" style="width: 100%; max-width: 320px;" />
      </div>
      <div class="col-sm-8">
        <h2>Theonie Anastassiadis</h2>
        <h3>Origination Partner, Flagship Pioneering</h3><br>
        
          Theonie Anastassiadis, Ph.D., is an Origination Partner at Flagship 
          Pioneering, where she conceives, builds, and grows Flagship’s next 
          generation of breakthrough biotechnology companies. She currently 
          serves as Founding President of Prologue Medicines, a company 
          harnessing the power of viral evolution to create transformative 
          therapies. Previously, she was a co-founder of Alltrna, a tRNA 
          platform company, where she served as Chief Innovation Officer from 
          2018 to 2024. 
          <br><br>
          Prior to joining Flagship in 2018, Theonie conducted doctoral research 
          in Cell and Molecular Biology with a focus on Cancer Biology at the 
          Perelman School of Medicine at the University of Pennsylvania. Her 
          work on replication fork dynamics in cancer development and 
          therapeutics was supported by multiple fellowships, including a 
          four-year NIH F31 NRSA Predoctoral Fellowship.
          <br><br>
          Theonie is an inventor on 15+ published patent applications and has 
          authored numerous scientific publications in journals including 
          Nature Biotechnology, Molecular Cell, and the Journal of Biological 
          Chemistry. She has been recognized in Endpoints News' 20 under 40 
          list of the next generation of biotech leaders and in Boston Business 
          Journal's 40 under 40 list for successful professionals giving back to 
          their community. She is a Business Advisory Board member of the 
          Harvard Institute for RNA Medicine and a 2026–2027 fellow in the 
          JOURNEY to Lead program.    
          <br><br>
          Theonie received her Ph.D. in Cell and Molecular Biology from the 
          University of Pennsylvania and holds a B.S. in Biology with honors 
          from Haverford College. She also completed the Wharton Business 
          Foundations Specialization.
        </div>
    </div>
  </div>

  <hr style="border-color: #d3d3d3;" />



<div class="row">
  <div class="col-sm-12">
    <div class="row keynote-profile-row">
      <div class="col-sm-4" style="margin-bottom: 1em;">
        <img src="media/varsos.jpg" alt="Georgios Varsos" class="img-responsive img-thumbnail" style="width: 100%; max-width: 320px;" />
      </div>
      <div class="col-sm-8">
        <h2>Georgios Varsos</h2>
        <h3>Venture Partner, VU Venture Partners</h3><br>
        
          A driven interdisciplinary professional with over 14 years of U.S. and 
          global healthcare experience in strategic business development, 
          innovation management, venture investing, consulting, and clinical 
          research. Currently leading business development and licensing of 
          healthcare innovations for Harvard Medical School-appointed faculty 
          and affiliated hospitals, with expertise in neurology, psychiatry, 
          hematology, oncology, and biomedical engineering. Successfully secured 
          partnerships exceeding $80 million with pharmaceutical, biotechnology, 
          medical device, and diagnostic companies.
          <br><br>
          Ph.D. in Clinical Neurosciences from the University of Cambridge and 
          an MBA in Leadership and Healthcare Management from Johns Hopkins 
          University.
          <br><br>
          Empowering entrepreneurs as a startup judge, mentor, and career coach 
          at leading accelerators and business schools worldwide.
      </div>
    </div>
  </div>




 
</div>
