<div class="content-container">
  <div class="jumbotron">
    <h1>
      Poster session<br />
      <small>May 8-9 2026</small><br />
         <small>MIT Room 66-110 / Consulate General of Greece in Boston</small>
    </h1>
  </div>
  <p>

   <h3>Information for Poster Presenters</h3>
   <p>More details about the poster session will be provided soon!</p>
   



  <h3>List of Accepted Posters</h3>

  <p>The accpeted posters will be listed here once selected.</p>