<!-- sidebar -->



<ul class="sidebar">
   <a href="#" id="logocontainer">
    <div id="logo" >
      <span >H<span style="font-weight:normal">ellenic</span><br/> 
      A<span style="font-weight:normal">merican</span><br/> 
      M<span style="font-weight:normal">eeting of</span><br/> 
      E<span style="font-weight:normal">arly-Career</span><br/> 
      R<span style="font-weight:normal">esearchers</span><br/>
      2025</span>
      </br>
    </div>
    </a>
    <li></li>
   <li class="active home"><a href="#">Home page</a></li>
   <li class="submission"><a href="#submission">Abstract Submissions</a></li>
   <li class="registration"><a href="#registration">Registration</a></li>
   <li class="transport"><a href="#transport">Venue Information</a></li>
   <li class="program"><a href="#program">Program</a></li>
   <li class="posters"><a href="#posters">Poster Session</a></li>
   <li class="photos"><a href="#photos">Event Photos</a></li>
    <br>
    <br>
   <li class="sidebar-image">
   <a href="media/poster2.png">
     <img src="media/poster2.png" alt="HAMER Promotional Poster" style="width: 300px;" />
     </a>
   </li>  
</ul>


<style>
@import url(https://fonts.googleapis.com/css?family=Raleway:400,700);
@import url(https://fonts.googleapis.com/css?family=Sahitya:400,700);
</style>




